html {
  font-family: 'Josefin Slab', serif;
}

body {
  background-color: #0182a4;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-size: 200px;
  font-weight: 100;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

h2 {
  font-size: 50px;
  font-weight: 100;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

h3 {
  font-size: 75px;
  font-weight: 100;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

h1,
h2,
h3 {
  color: #fff;
}

footer {
  display: flex;  
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 1vh;
}